<p>
	For global usage about module, component, directive and pipe...
	<br>
	<!-- @NgModule({
		declarations: [CoolComponent, CoolDirective, CoolPipe],
		imports: [MySharedModule1, MySharedModule2],
		exports: [MySharedModule1, MySharedModule2, CoolComponent, CoolDirective, CoolPipe],
		})
		export class AllInOneModule {} -->
</p>

<p [ngStyle]="setStyle()">
	directive-collection works!
</p>
<p [ngClass]="{ className: isThisClass }">
	This is ng Class.
</p>
<p *ngIf="isThisIf; else elseNgIf()">
	ng-if ... else ...
</p>
<em appBasicDirective>
	basic directive...
</em>
<br />
<em appCustomHostDirective>
	This is Custome Host Render2 Directive
</em>
<br />
<br />
<cite appDirWithPassDownVal [defColor]="'skyblue'" highlightedColor="red">
	directive with pass down value...
</cite>
<br />
<br />
<div *appTmplViewcontentRef="isViewTemplate">
	<p>
		templateRef and viewContentRef -- see tmple according to viewcontentRef and TemplateRef in directive.
	</p>
</div>
